[submodule "crosstool-ng"]
	path = crosstool-ng
	url = git@github.com:crosstool-ng/crosstool-ng.git
[submodule "u-boot"]
	path = u-boot
	url = https://gitlab.denx.de/u-boot/u-boot
[submodule "trusted-firmware-a"]
	path = trusted-firmware-a
	url = https://git.trustedfirmware.org/TF-A/trusted-firmware-a.git
[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux
[submodule "busybox"]
	path = busybox
	url = https://git.busybox.net/busybox
